[General]
clientVersion=3.3.6git
confirmExternalStorage=true
newBigFolderSizeLimit=500
useNewBigFolderSizeLimit=true

[Accounts]
0\Folders\1\ignoreHiddenFiles=false
0\Folders\1\journalPath=.sync_e6e1edeaee60.db
0\Folders\1\localPath=/home/zanbee/Nextcloud/
0\Folders\1\paused=false
0\Folders\1\targetPath=/
0\Folders\1\version=2
0\Folders\1\virtualFilesMode=off
0\authType=webflow
0\dav_user={{ email_address }}
0\serverVersion=20.0.8.1
0\url={{ nextcloud_url }}
0\user=@Invalid()
0\version=1
0\webflow_user={{ email_address }}
version=2

[SharingDialog]
geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\x2x\0\0\x1\x82\0\0\x4\x4\0\0\x2\x65\0\0\x2}\0\0\x1\x9f\0\0\x3\xff\0\0\x2`\0\0\0\0\0\0\0\0\x6\x90\0\0\x2}\0\0\x1\x9f\0\0\x3\xff\0\0\x2`)
